html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    rgba(9, 145, 219, 1) 0%,
    rgba(53, 230, 159, 1) 90%
  );
  color: #fff;
}
